<pre>




    
</pre>
<footer class="font-small bottom text-light" style="background-color: rgba(27, 31, 255, 0.75); ">

    <!-- Copyright -->
    <div class="text-center py-3">
        <em>© 2019 Copyright: Radhika Kuddyady </em>
        <br>
        <small class="font-weight-light">&#x26AC; Hand-crafted with &hearts; by <a style="text-decoration: none; color:#fff;" target="_blank" href="https://www.linkedin.com/in/derek-joseph/">Derek Joseph</a></small>
    </div>
    <!-- Copyright -->

</footer>