<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"
    >POSITIVE WAVES
    <img class="mx-2" src="/images/sound.png" width="40" height="40"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reviews">Feedback</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/review">Reviews</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="/services"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/about#mental">Mental Disorders</a>
          <a class="dropdown-item" href="/about#anxiety">Anxiety Disorders</a>
          <a class="dropdown-item" href="/about#ashd">ADHD</a>
          <a class="dropdown-item" href="/about#addiction">Addiction</a>
          <a class="dropdown-item" href="/about#phobias">Phobias</a>
          <a class="dropdown-item" href="/about#health">Health</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/about#services">Show All</a>
        </div>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://en.wikipedia.org/wiki/Neuro-linguistic_programming"
          target="_blank"
          >What is NLP?</a
        >
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
      -->
    </ul>
    <div class="my-2 my-lg-0">
      <a class="btn btn-outline-warning" href="/contact" role="button"
        >CONTACT US</a
      ><span class="text-light px-3">9372412366</span>
    </div>
  </div>
</nav>
