
<%- include('../partials/head'); -%>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">POSITIVE WAVES <img class="mx-2"src="/images/sound.png" width="40" height="40"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reviews">Feedback</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faqs">FAQs</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/services#mental">Mental Disorders</a>
                <a class="dropdown-item" href="/services#anxiety">Anxiety Disorders</a>
                <a class="dropdown-item" href="/services#ashd">ADHD</a>
                <a class="dropdown-item" href="/services#addiction">Addiction</a>
                <a class="dropdown-item" href="/services#phobias">Phobias</a>
                <a class="dropdown-item" href="/services#health">Health</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/services">Show All</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://en.wikipedia.org/wiki/Neuro-linguistic_programming" target="_blank">What is NLP?</a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            -->
          </ul>
          <div class="my-2 my-lg-0">
            <a class="btn btn-outline-warning" href="/contact" role="button">CONTACT US</a><span class="text-light px-3">9372412366</span>
          </div>
        </div>
      </nav>
    <div class="container">
      <div class="row">
        
        <img class="profile-img rounded-circle mx-auto mt-4 col-7 col-lg-3" src="/images/profile.jpeg" alt="Radhika Kuddyady"/>
        
        <p class="d-inline-block col mt-1 mt-lg-5 p-3" style="font-size: 1.5rem;">
          <span class="display-4">Hello,</span><br>I'm Radhika Kuddyady, 
            a graduate in sociology and specialist in Child development (psycholgy) from 
            <a href="https://sndt.ac.in/" target="_blank">SNDT Womens's University</a>, Mumbai, INDIA.
            I also practice clinical hypnotherapist and New Code NLP. 
        </p>
      </div>

      <div class="card mt-1 mb-4 mt-lg-4 m-2 p-2" style="background: #d1c0ff;">
        <div class="card-body text-center">
          <h5 class="card-title">Mission</h5>
          <p class="card-text">
            <bold><em>"Free people from psychological issues and guide 
              them to be best version of themselves."</em></bold><br>
          </p>
        </div>
      </div>
      
      <div>
        <dt>I help deal with psychological issues like -</dt>
        <dd>Depression, suicidal, sexual & physical abuse, phobias, 
          low self esteem, low self confidence, psycho somatic disorders.
        </dd>

        <dt>I help deal with education related issues -</dt>
        <dd>Exam fear, nervousness anxiety, stage fright, for 
          concentration and focus, behavioural problems, 
        </dd>

        <dt>I help deal with behavioural issues and related to addictions-</dt>
        <dd>Drug addiction, smoking, drinking alcohol, aggressive 
          behaviours, or any uncontrolled expressions.
        </dd>

        <dt>Help in dealing with phobias-</dt>
        <dd>Water, heights, animals, insects, dark etc.
        </dd>

        <dt>Help in dealing with any health related issues-</dt>
        <dd>Asthma, cold and cough, fat, cancer.
        </dd>

        <dt>I help deal with special cases-</dt>
        <dd>Any client having Learning Disability dyslexia,  ADHD, 
        Slow learner.
        </dd>

      </div>
      
    </div>
      
<p>Client who is 13yrs old had come to me with her mother who was having problem in studies. She was diagnosed with ADHD, learning disability and slow learning. Her treatment was going on as usual and to treat with ADHD  medicines were given to her through a well known hospital. 
    The child was undergoing medicines since years together and she had behavioural issues regarding her   emotions and dealing with studies. Her aggressiveness and depression was at peak. She had short span focus and was hyper used to figit alot.
    
    Her mother was concerned even though everything was taken care how come still she is finding difficulty in studies and not happy? 
    As a child specialist and New Code NLP practitioner, 
    I came to know she did not at all have ADHD problem at all. And the whole treatment was wrong. Her report was correct regarding learning disability but not ADHD.
    I suggested to stop it abruptly as I will be healing about the withdrawal symptoms. 
    Reality - A child was suffering emotionally from family problems. To attract attention to her. She was acting imitating An actor SRK frm my name is khan movie. As her actor is favorite. 
    After few months of therapy, she is now confident focused and now studying all by herself and scoring good marks in her exams. 
    Her whole personality has improved and positively responding in life.</p>

<p>Client who is 62 years old came to me telling me he is in depression and decided to die.He has prepared mentally to die. He had spent all his money on vices and on others and had become bankrupt. 
    His whole family was very worried about him because earlier he had made a demo video of suicide because he lost hopes in life.
    Slowly and gradually I started explaining him by understanding his state of mind and giving him the techniques based on his capacity to view life. My suggestions has helped him so much that in 3 to 4 sessions,  my client took charge of himself and had that willingness of wanting to live life. Through therapy he got the hope and discovered his purpose of life of what he wants to do in life. He started being himself and slowly started leaving those things which he felt it completely unacceptable which was once acceptable to him.  He took an appointment with me and said " Radhika, you did not tell me to leave my addictions but I myself left smoking and drinking alcohol. I am handling life better. Thanks for helping me realise my potential. Now I will not even dream to die. You have saved my life".
    This was the clients response. 
    His overall personality improved. And having a positive outlook in life.
    "You completely transformed me".
    He said.
    Now he is happy and positive!</p>
    
    <%- include('../partials/scripts'); -%>
</body>
</html>