
<%- include('../partials/head'); -%>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><%= title %><img class="mx-2"src="/images/sound.png" width="40" height="40"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/feedback">Feedback</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/review">Reviews</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/about#mental">Mental Disorders</a>
                <a class="dropdown-item" href="/about#anxiety">Anxiety Disorders</a>
                <a class="dropdown-item" href="/about#ashd">ADHD</a>
                <a class="dropdown-item" href="/about#addiction">Addiction</a>
                <a class="dropdown-item" href="/about#phobias">Phobias</a>
                <a class="dropdown-item" href="/about#health">Health</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/services">Show All</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://en.wikipedia.org/wiki/Neuro-linguistic_programming" target="_blank">What is NLP?</a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            -->
          </ul>
          <div class="my-2 my-lg-0">
            <a class="btn btn-outline-warning" href="/contact" role="button">CONTACT US</a><span class="text-light px-3">(+91) 9372412366</span>
          </div>
        </div>
      </nav>
    <div class="container">
      <div class="row">
        
        <img class="profile-img rounded-circle mx-auto mt-4 col-7 col-lg-3" src="/images/profile.jpeg" alt="Radhika Kuddyady"/>
        
        <p class="d-inline-block col mt-1 mt-lg-5 p-3" style="font-size: 1.5rem;">
          <span class="display-4">Hello,</span><br>I'm Radhika Kuddyady, New Code NLP practitioner, 
            clinical hypnotherapist, graduate in sociology and specialist in Child development (psycholgy) from 
            <a href="https://sndt.ac.in/" target="_blank">SNDT Womens's University</a>, Mumbai, INDIA.
        </p>
      </div>

      <div class="card mt-1 mb-4 mt-lg-4 m-2 p-2" style="background: #d1c0ff;">
        <div class="card-body text-center">
          <h5 class="card-title">Mission</h5>
          <p class="card-text">
            <bold><em>"Free people from psychological issues and guide 
              them to be best version of themselves."</em></bold><br>
          </p>
        </div>
      </div>
      
      <div>
        <dt id="anxiety">I help deal with psychological issues like -</dt>
        <dd>Depression, suicidal, sexual & physical abuse, phobias, 
          low self esteem, low self confidence, psycho somatic disorders.
        </dd>

        <dt id="mental">I help deal with education related issues -</dt>
        <dd>Exam fear, nervousness anxiety, stage fright, for 
          concentration and focus, behavioural problems, 
        </dd>

        <dt id="addiction">I help deal with behavioural issues and related to addictions-</dt>
        <dd>Drug addiction, smoking, drinking alcohol, aggressive 
          behaviours, or any uncontrolled expressions.
        </dd>

        <dt id="phobias">Help in dealing with phobias-</dt>
        <dd>Water, heights, animals, insects, dark etc.
        </dd>

        <dt id="health">Help in dealing with any health related issues-</dt>
        <dd>Asthma, cold and cough, fat, cancer.
        </dd>

        <dt id="ashd">I help deal with special cases-</dt>
        <dd>Any client having Learning Disability dyslexia,  ADHD, 
        Slow learner.
        </dd>

      </div>
   
    <footer class="font-small text-light" style="background-color: rgba(0, 0, 0, 0.75); ">

      <!-- Copyright -->
      <div class="text-center font-weight-light py-3">
          <em>© 2018 Copyright: Radhika Kuddyady </em>
      </div>
      <!-- Copyright -->
    
    </footer>
    
    <%- include('../partials/scripts'); -%>
</body>
</html>