<%- include('../partials/head'); -%>
<style>
#c1:not(.collapsed):after {
    content: '- Read';
}
#c1.collapsed:after  {
    content: '+ Read';
}

#c2:not(.collapsed):after {
    content: '- Read';
}
#c2.collapsed:after  {
    content: '+ Read';
}

</style>
<body style="background-image: url('images/bg.png'); height: 100vh; background-repeat: no-repeat; background-size: cover; @media (min-width: 992px) { background-image: url('images/bg-mob.jpg'); }">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><%= title %><img class="mx-2"src="/images/sound.png" width="40" height="40"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/feedback">Feedback</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/review">Reviews</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/about#mental">Mental Disorders</a>
                <a class="dropdown-item" href="/about#anxiety">Anxiety Disorders</a>
                <a class="dropdown-item" href="/about#ashd">ADHD</a>
                <a class="dropdown-item" href="/about#addiction">Addiction</a>
                <a class="dropdown-item" href="/about#phobias">Phobias</a>
                <a class="dropdown-item" href="/about#health">Health</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/services">Show All</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://en.wikipedia.org/wiki/Neuro-linguistic_programming" target="_blank">What is NLP?</a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            -->
          </ul>
          <div class="my-2 my-lg-0">
            <a class="btn btn-outline-warning" href="/contact" role="button">CONTACT US</a><span class="text-light px-3">(+91) 9372412366</span>
          </div>
        </div>
  </nav>

  <div class="container">
    <p class="h5 my-2 p-1 col-12 col-lg-7 mx-auto">Experiences with my clients:</p>
    <div class="card card-body my-2 col-12 col-lg-7 mx-auto">
      <p>A 13 years old client had come to me with her mother. She was having problem in her studies. 
        She was diagnosed with ADHD, learning disability and slow learning. Her treatment was going on 
        with ADHD medicines through a well known hospital.
        <div class="collapse" id="collapse-body1">
          The child was undergoing medicines since ages though she still had behavioural issues regarding 
          her emotions and studies. Her aggressiveness and depression was at peak. She had short 
          span focus, was hyper and used to fight alot.
          Her mother was very worried that even after everything she did, her daughter still suffered and not happy. 
          As a child specialist and New Code NLP practitioner, 
          I came to know she did not at all have ADHD problem at all. And the whole treatment was wrong. Her report was correct regarding learning disability but not ADHD.
          I suggested to stop the treatment abruptly and that I would heal her from these issues. 
          The reality - the child was suffering emotionally from family problems. To attract attention, she used to imitate SRK frm my name is khan movie.  
          After few months of therapy, she is now confident focused and now studying all by herself and scoring good marks in her exams. 
          Her whole personality has improved and shes positively facing life.</p>
        </div>
        <a id="c1" class="btn btn-primary" href="#collapse-body1" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse-body1"></a> 
    </div>
       
    <div class="card card-body my-2 col-12 col-lg-7 mx-auto">
        <p>A 62 years old client came telling me that he is in depression and had decided to commit sucide.
          He was mentally prepared to die. He had spent all his money on drinks and became bankrupt. 
          His whole family was very worried about him because earlier he had made a demo video of suicide because he lost hopes in life.
          <div class="collapse" id="collapse-body2">
              Slowly and gradually I started explaining him by understanding his state of mind and giving him the techniques based on his capacity 
              to view life. My suggestions helped him, and in 3 to 4 sessions, he took charge of himself and had that willingness 
              of wanting to live life. Through the therapy he got hope and discovered his purpose of life. He started 
              being himself and slowly started leaving the bad things which he could not before. He took 
              an appointment with me and said " Radhika, you did not tell me to leave my addictions but I myself left smoking and drinking alcohol. I am 
              handling life better. Thanks for helping me realise my potential. Now I will not even dream to die. You have saved my life".
              His overall personality improved. And having a positive outlook in life.
              He said that "You completely transformed me!!".
              Now he is happy and positive!</p>    
          </div>
          <a id="c2" class="btn btn-primary" href="#collapse-body2" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse-body2"></a> 
      </div>
  </div>

  <%- include('../partials/footer'); -%>
  <%- include('../partials/scripts'); -%>
</body>
</html>